In [101]:
from langchain_google_genai import GoogleGenerativeAI
import os
os.environ["GOOGLE_API_KEY"] = "AIzaSyDdUwIlUCbOlbh-iczZcxRIAAAKGapgwnU"
llm = GoogleGenerativeAI(model="gemini-2.5-pro")

In [6]:
from langchain_community.document_loaders import PyPDFLoader

info= PyPDFLoader("Data Input.pdf")
loader=info.load()[0]

In [7]:
loader.page_content

'Vijay Kumar was born on March 15, 1989, in Jaipur, Rajasthan, making him 35 years old as of 2024. \nHis birthdate is formatted as 1989-03-15 in ISO format for easy parsing, while his age serves as a \nkey demographic marker for analytical purposes. Born and raised in the Pink City of India, his \nbirthplace provides valuable regional profiling context, and his O+ blood group is noted for \nemergency contact purposes. As an Indian national, his citizenship status is important for \nunderstanding his work authorization and visa requirements across different employment \nopportunities.  \nVijay\'s professional journey began on July 1, 2012, when he joined his first company as a Junior \nDeveloper with an annual salary of 350,000 INR. His career progression shows remarkable growth, \nwith his current role at Resse Analytics beginning on June 15, 2021, where he serves as a Senior \nData Engineer earning 2,800,000 INR annually. Before this position, he worked at LakeCorp \nSolutions from February 1, 2018, to 2021, starting as a Data Analyst and earning a promotion in \n2019. This salary progression from his starting compensation to his current peak salary of \n2,800,000 INR represents a substantial eight- fold increase over his twelve-year career span.  \nHis academic foundation is equally impressive, beginning with his high school education at St. \nXavier\'s School, Jaipur, where he completed his 12th standard in 2007, achieving an outstanding \n92.5% overall score in his board examinations. His core subjects included Mathematics, Physics, \nChemistry, and Computer Science, demonstrating his early aptitude for technical disciplines. He \npursued his B.Tech in Computer Science at the prestigious IIT Delhi, graduating with honors in 2011 \nwith a CGPA of 8.7 on a 10-point scale, ranking 15th among 120 students in his class. His academic \nexcellence continued at IIT Bombay, where he earned his M.Tech in Data Science in 2013, achieving \nan exceptional CGPA of 9.2 and scoring 95 out of 100 for his final year thesis project.  \nVijay\'s commitment to continuous learning is evident through his impressive certification scores. \nHe passed the AWS Solutions Architect exam in 2019 with a score of 920 out of 1000, followed by \nthe Azure Data Engineer certification in 2020 with 875 points. His Project Management Professional \ncertification, obtained in 2021, was achieved with an "Above Target" rating from PMI, while his SAFe \nAgilist certification earned him an outstanding 98% score.   \nIn terms of technical proficiency, Vijay rates himself highly across various skills, with SQL expertise \nat a perfect 10 out of 10, reflecting his daily usage since 2012. His Python proficiency scores 9 out \nof 10, backed by over seven years of practical experience, while his machine learning capabilities \nrate 8 out of 10, representing five years of hands-on implementation. His cloud platform expertise, \nincluding AWS and Azure certifications, also rates 9 out of 10 with more than four years of \nexperience, and his data visualization skills in Power BI and Tableau score 8 out of 10, establishing \nhim as an expert in the field.'

In [19]:
page_content=loader.page_content

In [94]:
from langchain_text_splitters import RecursiveCharacterTextSplitter 

splitter= RecursiveCharacterTextSplitter(
    chunk_size=1000,
    chunk_overlap=200,
    separators=["\n\n", "\n", ". ", " ", ""],
)


#

In [95]:
chunk

["Vijay Kumar was born on March 15, 1989, in Jaipur, Rajasthan, making him 35 years old as of 2024. \nHis birthdate is formatted as 1989-03-15 in ISO format for easy parsing, while his age serves as a \nkey demographic marker for analytical purposes. Born and raised in the Pink City of India, his \nbirthplace provides valuable regional profiling context, and his O+ blood group is noted for \nemergency contact purposes. As an Indian national, his citizenship status is important for \nunderstanding his work authorization and visa requirements across different employment \nopportunities.\nVijay's professional journey began on July 1, 2012, when he joined his first company as a Junior \nDeveloper with an annual salary of 350,000 INR. His career progression shows remarkable growth, \nwith his current role at Resse Analytics beginning on June 15, 2021, where he serves as a Senior \nData Engineer earning 2,800,000 INR annually. Before this position, he worked at LakeCorp",
 "with his current role at Resse Analytics beginning on June 15, 2021, where he serves as a Senior \nData Engineer earning 2,800,000 INR annually. Before this position, he worked at LakeCorp \nSolutions from February 1, 2018, to 2021, starting as a Data Analyst and earning a promotion in \n2019. This salary progression from his starting compensation to his current peak salary of \n2,800,000 INR represents a substantial eight- fold increase over his twelve-year career span.\nHis academic foundation is equally impressive, beginning with his high school education at St. \nXavier's School, Jaipur, where he completed his 12th standard in 2007, achieving an outstanding \n92.5% overall score in his board examinations. His core subjects included Mathematics, Physics, \nChemistry, and Computer Science, demonstrating his early aptitude for technical disciplines. He \npursued his B.Tech in Computer Science at the prestigious IIT Delhi, graduating with honors in 2011",
 'Chemistry, and Computer Science, demonstrating his early aptitude for technical disciplines. He \npursued his B.Tech in Computer Science at the prestigious IIT Delhi, graduating with honors in 2011 \nwith a CGPA of 8.7 on a 10-point scale, ranking 15th among 120 students in his class. His academic \nexcellence continued at IIT Bombay, where he earned his M.Tech in Data Science in 2013, achieving \nan exceptional CGPA of 9.2 and scoring 95 out of 100 for his final year thesis project.\nVijay\'s commitment to continuous learning is evident through his impressive certification scores. \nHe passed the AWS Solutions Architect exam in 2019 with a score of 920 out of 1000, followed by \nthe Azure Data Engineer certification in 2020 with 875 points. His Project Management Professional \ncertification, obtained in 2021, was achieved with an "Above Target" rating from PMI, while his SAFe \nAgilist certification earned him an outstanding 98% score.',
 'certification, obtained in 2021, was achieved with an "Above Target" rating from PMI, while his SAFe \nAgilist certification earned him an outstanding 98% score. \nIn terms of technical proficiency, Vijay rates himself highly across various skills, with SQL expertise \nat a perfect 10 out of 10, reflecting his daily usage since 2012. His Python proficiency scores 9 out \nof 10, backed by over seven years of practical experience, while his machine learning capabilities \nrate 8 out of 10, representing five years of hands-on implementation. His cloud platform expertise, \nincluding AWS and Azure certifications, also rates 9 out of 10 with more than four years of \nexperience, and his data visualization skills in Power BI and Tableau score 8 out of 10, establishing \nhim as an expert in the field.']

In [96]:
len(chunk)

4

In [122]:
from langchain_core.prompts import PromptTemplate
prompt_template= PromptTemplate.from_template(
    """
    From the given text extract all the information as key, value, comment(additional contextual notes) in this format: [{{'key':'<key>', 'value':'<value>', 'comment':'<comment>'}},{{'key':'<key>', 'value':'<value>', 'comment':'<comment>'}},{{'key':'<key>', 'value':'<value>', 'comment':'<comment>'}},...]
    
    {text}
    ## RESPONSE INTSTUCTION:
    1. Retain the exact original wording, sentence structure, and phrasing from the text
    2. Do not introduce new information and No preamble and unwanted text in the response. 
    3. DO not have extract text and character like json, ``` in the response, I only want the output in the format of list ofjson.

    Example:
    text: Vijay Kumar was born on March 15, 1989, in Jaipur, Rajasthan, making him 35 years old as of 2024.
His birthdate is formatted as 1989-03-15 in ISO format for easy parsing, while his age serves as a
key demographic marker for analytical purposes. Born and raised in the Pink City of India, his
birthplace provides valuable regional profiling context, and his O+ blood group is noted for
emergency contact purposes. As an Indian national, his citizenship status is important for
understanding his work authorization and visa requirements across different employment
opportunities. 


output:
[
  {{'key':'First Name', 'value':'Vijay', 'comment':''}},
  {{'key':'Last Name', 'value':'Kumar', 'comment':''}},
  {{'key':'Date of Birth', 'value':'15-Mar-89', 'comment':''}},
  {{'key':'Birth City', 'value':'Jaipur', 'comment':'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'}},
  {{'key':'Birth State', 'value':'Rajasthan', 'comment':'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'}},
  {{'key':'Age', 'value':'35 years', 'comment':'As on year 2024. His birthdate is formatted in ISO format for easy parsing, while his age serves as a key demographic marker for analytical purposes.'}},
  {{'key':'Blood Group', 'value':'O+', 'comment':'Emergency contact purposes.'}},
  {{'key':'Nationality', 'value':'Indian', 'comment':'Citizenship status is important for understanding his work authorization and visa requirements across different employment opportunities.'}}
]

    """
)

In [123]:
chain = prompt_template | llm 
samp_resp=chain.invoke({"text": chunk[2]})

In [124]:
samp_resp

'[\n  {\'key\':\'B.Tech Specialization\', \'value\':\'Computer Science\', \'comment\':\'He pursued his B.Tech in Computer Science at the prestigious IIT Delhi.\'},\n  {\'key\':\'B.Tech Graduation Year\', \'value\':\'2011\', \'comment\':\'graduating with honors\'},\n  {\'key\':\'B.Tech CGPA\', \'value\':\'8.7\', \'comment\':\'on a 10-point scale\'},\n  {\'key\':\'B.Tech Class Rank\', \'value\':\'15th\', \'comment\':\'among 120 students in his class\'},\n  {\'key\':\'M.Tech Specialization\', \'value\':\'Data Science\', \'comment\':\'earned his M.Tech in Data Science in 2013 at IIT Bombay\'},\n  {\'key\':\'M.Tech Graduation Year\', \'value\':\'2013\', \'comment\':\'\'},\n  {\'key\':\'M.Tech CGPA\', \'value\':\'9.2\', \'comment\':\'achieving an exceptional CGPA\'},\n  {\'key\':\'M.Tech Thesis Project Score\', \'value\':\'95 out of 100\', \'comment\':\'for his final year thesis project\'},\n  {\'key\':\'Certification\', \'value\':\'AWS Solutions Architect\', \'comment\':\'He passed the AWS Solutions Architect exam in 2019\'},\n  {\'key\':\'AWS Solutions Architect Score\', \'value\':\'920 out of 1000\', \'comment\':\'\'},\n  {\'key\':\'Certification\', \'value\':\'Azure Data Engineer\', \'comment\':\'obtained in 2020\'},\n  {\'key\':\'Azure Data Engineer Score\', \'value\':\'875 points\', \'comment\':\'\'},\n  {\'key\':\'Certification\', \'value\':\'Project Management Professional\', \'comment\':\'obtained in 2021\'},\n  {\'key\':\'Project Management Professional Rating\', \'value\':\'Above Target\', \'comment\':\'achieved with an "Above Target" rating from PMI\'},\n  {\'key\':\'Certification\', \'value\':\'SAFe Agilist\', \'comment\':\'\'},\n  {\'key\':\'SAFe Agilist Score\', \'value\':\'98%\', \'comment\':\'earned him an outstanding 98% score\'}\n]'

In [125]:
import ast

ret= ast.literal_eval(samp_resp)
ret

[{'key': 'B.Tech Specialization',
  'value': 'Computer Science',
  'comment': 'He pursued his B.Tech in Computer Science at the prestigious IIT Delhi.'},
 {'key': 'B.Tech Graduation Year',
  'value': '2011',
  'comment': 'graduating with honors'},
 {'key': 'B.Tech CGPA', 'value': '8.7', 'comment': 'on a 10-point scale'},
 {'key': 'B.Tech Class Rank',
  'value': '15th',
  'comment': 'among 120 students in his class'},
 {'key': 'M.Tech Specialization',
  'value': 'Data Science',
  'comment': 'earned his M.Tech in Data Science in 2013 at IIT Bombay'},
 {'key': 'M.Tech Graduation Year', 'value': '2013', 'comment': ''},
 {'key': 'M.Tech CGPA',
  'value': '9.2',
  'comment': 'achieving an exceptional CGPA'},
 {'key': 'M.Tech Thesis Project Score',
  'value': '95 out of 100',
  'comment': 'for his final year thesis project'},
 {'key': 'Certification',
  'value': 'AWS Solutions Architect',
  'comment': 'He passed the AWS Solutions Architect exam in 2019'},
 {'key': 'AWS Solutions Architect Score',
  'value': '920 out of 1000',
  'comment': ''},
 {'key': 'Certification',
  'value': 'Azure Data Engineer',
  'comment': 'obtained in 2020'},
 {'key': 'Azure Data Engineer Score', 'value': '875 points', 'comment': ''},
 {'key': 'Certification',
  'value': 'Project Management Professional',
  'comment': 'obtained in 2021'},
 {'key': 'Project Management Professional Rating',
  'value': 'Above Target',
  'comment': 'achieved with an "Above Target" rating from PMI'},
 {'key': 'Certification', 'value': 'SAFe Agilist', 'comment': ''},
 {'key': 'SAFe Agilist Score',
  'value': '98%',
  'comment': 'earned him an outstanding 98% score'}]

In [129]:
def key_value_extractor(chunk):
    append_key_value=[]
    for i in chunk:
        chain = prompt_template | llm 
        samp_resp=chain.invoke({"text": i})
        ret= ast.literal_eval(samp_resp.replace('```','').replace('json',''))
        append_key_value.append(ret)
    return append_key_value

key_value=key_value_extractor(chunk)

Retrying langchain_google_genai.chat_models._chat_with_retry.<locals>._chat_with_retry in 2.0 seconds as it raised ResourceExhausted: 429 You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/usage?tab=rate-limit.
* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 2, model: gemini-2.5-pro
Please retry in 27.552877753s. [links {
  description: "Learn more about Gemini API quotas"
  url: "https://ai.google.dev/gemini-api/docs/rate-limits"
}
, violations {
  quota_metric: "generativelanguage.googleapis.com/generate_content_free_tier_requests"
  quota_id: "GenerateRequestsPerMinutePerProjectPerModel-FreeTier"
  quota_dimensions {
    key: "model"
    value: "gemini-2.5-pro"
  }
  quota_dimensions {
    key: "location"
    value: "global"
  }
  quota_value: 2
}
, retry_delay {
  seconds: 27
}
].

In [130]:
key_value

[[{'key': 'First Name', 'value': 'Vijay', 'comment': ''},
  {'key': 'Last Name', 'value': 'Kumar', 'comment': ''},
  {'key': 'Date of Birth',
   'value': 'March 15, 1989',
   'comment': 'His birthdate is formatted as 1989-03-15 in ISO format for easy parsing'},
  {'key': 'Age',
   'value': '35 years old',
   'comment': 'as of 2024. his age serves as a key demographic marker for analytical purposes'},
  {'key': 'Birth City',
   'value': 'Jaipur',
   'comment': 'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'},
  {'key': 'Birth State',
   'value': 'Rajasthan',
   'comment': 'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'},
  {'key': 'Blood Group',
   'value': 'O+',
   'comment': 'noted for emergency contact purposes'},
  {'key': 'Nationality',
   'value': 'Indian',
   'comment': 'As an Indian national, his citizenship status is important for understanding his work authorization and visa requirements across different employment opportunities'},
  {'key': 'First Job Start Date',
   'value': 'July 1, 2012',
   'comment': 'when he joined his first company'},
  {'key': 'First Job Role',
   'value': 'Junior Developer',
   'comment': 'at his first company'},
  {'key': 'First Job Salary',
   'value': '350,000 INR',
   'comment': 'annual salary'},
  {'key': 'Current Employer', 'value': 'Resse Analytics', 'comment': ''},
  {'key': 'Current Role Start Date', 'value': 'June 15, 2021', 'comment': ''},
  {'key': 'Current Role',
   'value': 'Senior Data Engineer',
   'comment': 'at Resse Analytics'},
  {'key': 'Current Salary', 'value': '2,800,000 INR', 'comment': 'annually'},
  {'key': 'Previous Employer',
   'value': 'LakeCorp',
   'comment': 'Before this position, he worked at LakeCorp'}],
 [{'key': 'Current Employer',
   'value': 'Resse Analytics',
   'comment': 'with his current role at Resse Analytics'},
  {'key': 'Current Role',
   'value': 'Senior Data Engineer',
   'comment': 'where he serves as a Senior Data Engineer'},
  {'key': 'Start Date (Current Role)',
   'value': 'June 15, 2021',
   'comment': 'beginning on June 15, 2021'},
  {'key': 'Current Salary',
   'value': '2,800,000 INR',
   'comment': 'earning 2,800,000 INR annually. This salary progression from his starting compensation to his current peak salary of 2,800,000 INR represents a substantial eight- fold increase over his twelve-year career span.'},
  {'key': 'Previous Employer',
   'value': 'LakeCorp Solutions',
   'comment': 'Before this position, he worked at LakeCorp Solutions'},
  {'key': 'Employment Duration (Previous)',
   'value': 'February 1, 2018, to 2021',
   'comment': 'from February 1, 2018, to 2021'},
  {'key': 'Previous Role',
   'value': 'Data Analyst',
   'comment': 'starting as a Data Analyst and earning a promotion in 2019'},
  {'key': 'Career Span',
   'value': 'twelve-year',
   'comment': 'represents a substantial eight- fold increase over his twelve-year career span'},
  {'key': 'High School',
   'value': "St. Xavier's School, Jaipur",
   'comment': "His academic foundation is equally impressive, beginning with his high school education at St. Xavier's School, Jaipur"},
  {'key': 'High School Completion Year',
   'value': '2007',
   'comment': 'where he completed his 12th standard in 2007'},
  {'key': 'High School Score',
   'value': '92.5%',
   'comment': 'achieving an outstanding 92.5% overall score in his board examinations'},
  {'key': 'High School Subjects',
   'value': 'Mathematics, Physics, Chemistry, and Computer Science',
   'comment': 'His core subjects included Mathematics, Physics, Chemistry, and Computer Science, demonstrating his early aptitude for technical disciplines.'},
  {'key': 'Undergraduate Degree',
   'value': 'B.Tech in Computer Science',
   'comment': 'He pursued his B.Tech in Computer Science'},
  {'key': 'University',
   'value': 'IIT Delhi',
   'comment': 'at the prestigious IIT Delhi'},
  {'key': 'Graduation Year',
   'value': '2011',
   'comment': 'graduating with honors in 2011'}],
 [{'key': 'B.Tech Degree',
   'value': 'Computer Science',
   'comment': 'He pursued his B.Tech in Computer Science at the prestigious IIT Delhi'},
  {'key': 'B.Tech University',
   'value': 'IIT Delhi',
   'comment': 'prestigious IIT Delhi'},
  {'key': 'B.Tech Graduation Year',
   'value': '2011',
   'comment': 'graduating with honors in 2011'},
  {'key': 'B.Tech CGPA', 'value': '8.7', 'comment': 'on a 10-point scale'},
  {'key': 'B.Tech Class Rank',
   'value': '15th',
   'comment': 'ranking 15th among 120 students in his class'},
  {'key': 'M.Tech Degree',
   'value': 'Data Science',
   'comment': 'His academic excellence continued at IIT Bombay, where he earned his M.Tech in Data Science'},
  {'key': 'M.Tech University',
   'value': 'IIT Bombay',
   'comment': 'His academic excellence continued at IIT Bombay'},
  {'key': 'M.Tech Graduation Year', 'value': '2013', 'comment': ''},
  {'key': 'M.Tech CGPA',
   'value': '9.2',
   'comment': 'achieving an exceptional CGPA of 9.2'},
  {'key': 'M.Tech Thesis Score',
   'value': '95 out of 100',
   'comment': 'for his final year thesis project'},
  {'key': 'Certification',
   'value': 'AWS Solutions Architect',
   'comment': 'He passed the AWS Solutions Architect exam in 2019'},
  {'key': 'AWS Solutions Architect Score',
   'value': '920 out of 1000',
   'comment': 'exam in 2019'},
  {'key': 'Certification',
   'value': 'Azure Data Engineer',
   'comment': 'in 2020'},
  {'key': 'Azure Data Engineer Score',
   'value': '875 points',
   'comment': 'certification in 2020'},
  {'key': 'Certification',
   'value': 'Project Management Professional',
   'comment': 'obtained in 2021'},
  {'key': 'Project Management Professional Rating',
   'value': 'Above Target',
   'comment': 'achieved with an "Above Target" rating from PMI'},
  {'key': 'Certification', 'value': 'SAFe Agilist', 'comment': ''},
  {'key': 'SAFe Agilist Score',
   'value': '98%',
   'comment': 'earned him an outstanding 98% score'}],
 [{'key': 'Certification',
   'value': 'PMI',
   'comment': 'obtained in 2021, was achieved with an "Above Target" rating from PMI'},
  {'key': 'Certification',
   'value': 'SAFe Agilist',
   'comment': 'earned him an outstanding 98% score'},
  {'key': 'Technical Skill - SQL',
   'value': '10 out of 10',
   'comment': 'reflecting his daily usage since 2012'},
  {'key': 'Technical Skill - Python',
   'value': '9 out of 10',
   'comment': 'backed by over seven years of practical experience'},
  {'key': 'Technical Skill - Machine Learning',
   'value': '8 out of 10',
   'comment': 'representing five years of hands-on implementation'},
  {'key': 'Technical Skill - Cloud platform expertise',
   'value': '9 out of 10',
   'comment': 'including AWS and Azure certifications, with more than four years of experience'},
  {'key': 'Technical Skill - Data visualization',
   'value': '8 out of 10',
   'comment': 'skills in Power BI and Tableau, establishing him as an expert in the field'}]]

In [134]:
full_key_value=[]
for i in key_value:
    print(i)
    full_key_value.extend(i)

[{'key': 'First Name', 'value': 'Vijay', 'comment': ''}, {'key': 'Last Name', 'value': 'Kumar', 'comment': ''}, {'key': 'Date of Birth', 'value': 'March 15, 1989', 'comment': 'His birthdate is formatted as 1989-03-15 in ISO format for easy parsing'}, {'key': 'Age', 'value': '35 years old', 'comment': 'as of 2024. his age serves as a key demographic marker for analytical purposes'}, {'key': 'Birth City', 'value': 'Jaipur', 'comment': 'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'}, {'key': 'Birth State', 'value': 'Rajasthan', 'comment': 'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'}, {'key': 'Blood Group', 'value': 'O+', 'comment': 'noted for emergency contact purposes'}, {'key': 'Nationality', 'value': 'Indian', 'comment': 'As an Indian national, his citizenship status is important for understanding his work authorization and visa requirements across different employment opportunities'}, {'key': 'First Job Start Date', 'value': 'July 1, 2012', 'comment': 'when he joined his first company'}, {'key': 'First Job Role', 'value': 'Junior Developer', 'comment': 'at his first company'}, {'key': 'First Job Salary', 'value': '350,000 INR', 'comment': 'annual salary'}, {'key': 'Current Employer', 'value': 'Resse Analytics', 'comment': ''}, {'key': 'Current Role Start Date', 'value': 'June 15, 2021', 'comment': ''}, {'key': 'Current Role', 'value': 'Senior Data Engineer', 'comment': 'at Resse Analytics'}, {'key': 'Current Salary', 'value': '2,800,000 INR', 'comment': 'annually'}, {'key': 'Previous Employer', 'value': 'LakeCorp', 'comment': 'Before this position, he worked at LakeCorp'}]
[{'key': 'Current Employer', 'value': 'Resse Analytics', 'comment': 'with his current role at Resse Analytics'}, {'key': 'Current Role', 'value': 'Senior Data Engineer', 'comment': 'where he serves as a Senior Data Engineer'}, {'key': 'Start Date (Current Role)', 'value': 'June 15, 2021', 'comment': 'beginning on June 15, 2021'}, {'key': 'Current Salary', 'value': '2,800,000 INR', 'comment': 'earning 2,800,000 INR annually. This salary progression from his starting compensation to his current peak salary of 2,800,000 INR represents a substantial eight- fold increase over his twelve-year career span.'}, {'key': 'Previous Employer', 'value': 'LakeCorp Solutions', 'comment': 'Before this position, he worked at LakeCorp Solutions'}, {'key': 'Employment Duration (Previous)', 'value': 'February 1, 2018, to 2021', 'comment': 'from February 1, 2018, to 2021'}, {'key': 'Previous Role', 'value': 'Data Analyst', 'comment': 'starting as a Data Analyst and earning a promotion in 2019'}, {'key': 'Career Span', 'value': 'twelve-year', 'comment': 'represents a substantial eight- fold increase over his twelve-year career span'}, {'key': 'High School', 'value': "St. Xavier's School, Jaipur", 'comment': "His academic foundation is equally impressive, beginning with his high school education at St. Xavier's School, Jaipur"}, {'key': 'High School Completion Year', 'value': '2007', 'comment': 'where he completed his 12th standard in 2007'}, {'key': 'High School Score', 'value': '92.5%', 'comment': 'achieving an outstanding 92.5% overall score in his board examinations'}, {'key': 'High School Subjects', 'value': 'Mathematics, Physics, Chemistry, and Computer Science', 'comment': 'His core subjects included Mathematics, Physics, Chemistry, and Computer Science, demonstrating his early aptitude for technical disciplines.'}, {'key': 'Undergraduate Degree', 'value': 'B.Tech in Computer Science', 'comment': 'He pursued his B.Tech in Computer Science'}, {'key': 'University', 'value': 'IIT Delhi', 'comment': 'at the prestigious IIT Delhi'}, {'key': 'Graduation Year', 'value': '2011', 'comment': 'graduating with honors in 2011'}]
[{'key': 'B.Tech Degree', 'value': 'Computer Science', 'comment': 'He pursued his B.Tech in Computer Science at the prestigious IIT Delhi'}, {'key': 'B.Tech University', 'value': 'IIT Delhi', 'comment': 'prestigious IIT Delhi'}, {'key': 'B.Tech Graduation Year', 'value': '2011', 'comment': 'graduating with honors in 2011'}, {'key': 'B.Tech CGPA', 'value': '8.7', 'comment': 'on a 10-point scale'}, {'key': 'B.Tech Class Rank', 'value': '15th', 'comment': 'ranking 15th among 120 students in his class'}, {'key': 'M.Tech Degree', 'value': 'Data Science', 'comment': 'His academic excellence continued at IIT Bombay, where he earned his M.Tech in Data Science'}, {'key': 'M.Tech University', 'value': 'IIT Bombay', 'comment': 'His academic excellence continued at IIT Bombay'}, {'key': 'M.Tech Graduation Year', 'value': '2013', 'comment': ''}, {'key': 'M.Tech CGPA', 'value': '9.2', 'comment': 'achieving an exceptional CGPA of 9.2'}, {'key': 'M.Tech Thesis Score', 'value': '95 out of 100', 'comment': 'for his final year thesis project'}, {'key': 'Certification', 'value': 'AWS Solutions Architect', 'comment': 'He passed the AWS Solutions Architect exam in 2019'}, {'key': 'AWS Solutions Architect Score', 'value': '920 out of 1000', 'comment': 'exam in 2019'}, {'key': 'Certification', 'value': 'Azure Data Engineer', 'comment': 'in 2020'}, {'key': 'Azure Data Engineer Score', 'value': '875 points', 'comment': 'certification in 2020'}, {'key': 'Certification', 'value': 'Project Management Professional', 'comment': 'obtained in 2021'}, {'key': 'Project Management Professional Rating', 'value': 'Above Target', 'comment': 'achieved with an "Above Target" rating from PMI'}, {'key': 'Certification', 'value': 'SAFe Agilist', 'comment': ''}, {'key': 'SAFe Agilist Score', 'value': '98%', 'comment': 'earned him an outstanding 98% score'}]
[{'key': 'Certification', 'value': 'PMI', 'comment': 'obtained in 2021, was achieved with an "Above Target" rating from PMI'}, {'key': 'Certification', 'value': 'SAFe Agilist', 'comment': 'earned him an outstanding 98% score'}, {'key': 'Technical Skill - SQL', 'value': '10 out of 10', 'comment': 'reflecting his daily usage since 2012'}, {'key': 'Technical Skill - Python', 'value': '9 out of 10', 'comment': 'backed by over seven years of practical experience'}, {'key': 'Technical Skill - Machine Learning', 'value': '8 out of 10', 'comment': 'representing five years of hands-on implementation'}, {'key': 'Technical Skill - Cloud platform expertise', 'value': '9 out of 10', 'comment': 'including AWS and Azure certifications, with more than four years of experience'}, {'key': 'Technical Skill - Data visualization', 'value': '8 out of 10', 'comment': 'skills in Power BI and Tableau, establishing him as an expert in the field'}]

In [135]:
full_key_value

[{'key': 'First Name', 'value': 'Vijay', 'comment': ''},
 {'key': 'Last Name', 'value': 'Kumar', 'comment': ''},
 {'key': 'Date of Birth',
  'value': 'March 15, 1989',
  'comment': 'His birthdate is formatted as 1989-03-15 in ISO format for easy parsing'},
 {'key': 'Age',
  'value': '35 years old',
  'comment': 'as of 2024. his age serves as a key demographic marker for analytical purposes'},
 {'key': 'Birth City',
  'value': 'Jaipur',
  'comment': 'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'},
 {'key': 'Birth State',
  'value': 'Rajasthan',
  'comment': 'Born and raised in the Pink City of India, his birthplace provides valuable regional profiling context'},
 {'key': 'Blood Group',
  'value': 'O+',
  'comment': 'noted for emergency contact purposes'},
 {'key': 'Nationality',
  'value': 'Indian',
  'comment': 'As an Indian national, his citizenship status is important for understanding his work authorization and visa requirements across different employment opportunities'},
 {'key': 'First Job Start Date',
  'value': 'July 1, 2012',
  'comment': 'when he joined his first company'},
 {'key': 'First Job Role',
  'value': 'Junior Developer',
  'comment': 'at his first company'},
 {'key': 'First Job Salary',
  'value': '350,000 INR',
  'comment': 'annual salary'},
 {'key': 'Current Employer', 'value': 'Resse Analytics', 'comment': ''},
 {'key': 'Current Role Start Date', 'value': 'June 15, 2021', 'comment': ''},
 {'key': 'Current Role',
  'value': 'Senior Data Engineer',
  'comment': 'at Resse Analytics'},
 {'key': 'Current Salary', 'value': '2,800,000 INR', 'comment': 'annually'},
 {'key': 'Previous Employer',
  'value': 'LakeCorp',
  'comment': 'Before this position, he worked at LakeCorp'},
 {'key': 'Current Employer',
  'value': 'Resse Analytics',
  'comment': 'with his current role at Resse Analytics'},
 {'key': 'Current Role',
  'value': 'Senior Data Engineer',
  'comment': 'where he serves as a Senior Data Engineer'},
 {'key': 'Start Date (Current Role)',
  'value': 'June 15, 2021',
  'comment': 'beginning on June 15, 2021'},
 {'key': 'Current Salary',
  'value': '2,800,000 INR',
  'comment': 'earning 2,800,000 INR annually. This salary progression from his starting compensation to his current peak salary of 2,800,000 INR represents a substantial eight- fold increase over his twelve-year career span.'},
 {'key': 'Previous Employer',
  'value': 'LakeCorp Solutions',
  'comment': 'Before this position, he worked at LakeCorp Solutions'},
 {'key': 'Employment Duration (Previous)',
  'value': 'February 1, 2018, to 2021',
  'comment': 'from February 1, 2018, to 2021'},
 {'key': 'Previous Role',
  'value': 'Data Analyst',
  'comment': 'starting as a Data Analyst and earning a promotion in 2019'},
 {'key': 'Career Span',
  'value': 'twelve-year',
  'comment': 'represents a substantial eight- fold increase over his twelve-year career span'},
 {'key': 'High School',
  'value': "St. Xavier's School, Jaipur",
  'comment': "His academic foundation is equally impressive, beginning with his high school education at St. Xavier's School, Jaipur"},
 {'key': 'High School Completion Year',
  'value': '2007',
  'comment': 'where he completed his 12th standard in 2007'},
 {'key': 'High School Score',
  'value': '92.5%',
  'comment': 'achieving an outstanding 92.5% overall score in his board examinations'},
 {'key': 'High School Subjects',
  'value': 'Mathematics, Physics, Chemistry, and Computer Science',
  'comment': 'His core subjects included Mathematics, Physics, Chemistry, and Computer Science, demonstrating his early aptitude for technical disciplines.'},
 {'key': 'Undergraduate Degree',
  'value': 'B.Tech in Computer Science',
  'comment': 'He pursued his B.Tech in Computer Science'},
 {'key': 'University',
  'value': 'IIT Delhi',
  'comment': 'at the prestigious IIT Delhi'},
 {'key': 'Graduation Year',
  'value': '2011',
  'comment': 'graduating with honors in 2011'},
 {'key': 'B.Tech Degree',
  'value': 'Computer Science',
  'comment': 'He pursued his B.Tech in Computer Science at the prestigious IIT Delhi'},
 {'key': 'B.Tech University',
  'value': 'IIT Delhi',
  'comment': 'prestigious IIT Delhi'},
 {'key': 'B.Tech Graduation Year',
  'value': '2011',
  'comment': 'graduating with honors in 2011'},
 {'key': 'B.Tech CGPA', 'value': '8.7', 'comment': 'on a 10-point scale'},
 {'key': 'B.Tech Class Rank',
  'value': '15th',
  'comment': 'ranking 15th among 120 students in his class'},
 {'key': 'M.Tech Degree',
  'value': 'Data Science',
  'comment': 'His academic excellence continued at IIT Bombay, where he earned his M.Tech in Data Science'},
 {'key': 'M.Tech University',
  'value': 'IIT Bombay',
  'comment': 'His academic excellence continued at IIT Bombay'},
 {'key': 'M.Tech Graduation Year', 'value': '2013', 'comment': ''},
 {'key': 'M.Tech CGPA',
  'value': '9.2',
  'comment': 'achieving an exceptional CGPA of 9.2'},
 {'key': 'M.Tech Thesis Score',
  'value': '95 out of 100',
  'comment': 'for his final year thesis project'},
 {'key': 'Certification',
  'value': 'AWS Solutions Architect',
  'comment': 'He passed the AWS Solutions Architect exam in 2019'},
 {'key': 'AWS Solutions Architect Score',
  'value': '920 out of 1000',
  'comment': 'exam in 2019'},
 {'key': 'Certification',
  'value': 'Azure Data Engineer',
  'comment': 'in 2020'},
 {'key': 'Azure Data Engineer Score',
  'value': '875 points',
  'comment': 'certification in 2020'},
 {'key': 'Certification',
  'value': 'Project Management Professional',
  'comment': 'obtained in 2021'},
 {'key': 'Project Management Professional Rating',
  'value': 'Above Target',
  'comment': 'achieved with an "Above Target" rating from PMI'},
 {'key': 'Certification', 'value': 'SAFe Agilist', 'comment': ''},
 {'key': 'SAFe Agilist Score',
  'value': '98%',
  'comment': 'earned him an outstanding 98% score'},
 {'key': 'Certification',
  'value': 'PMI',
  'comment': 'obtained in 2021, was achieved with an "Above Target" rating from PMI'},
 {'key': 'Certification',
  'value': 'SAFe Agilist',
  'comment': 'earned him an outstanding 98% score'},
 {'key': 'Technical Skill - SQL',
  'value': '10 out of 10',
  'comment': 'reflecting his daily usage since 2012'},
 {'key': 'Technical Skill - Python',
  'value': '9 out of 10',
  'comment': 'backed by over seven years of practical experience'},
 {'key': 'Technical Skill - Machine Learning',
  'value': '8 out of 10',
  'comment': 'representing five years of hands-on implementation'},
 {'key': 'Technical Skill - Cloud platform expertise',
  'value': '9 out of 10',
  'comment': 'including AWS and Azure certifications, with more than four years of experience'},
 {'key': 'Technical Skill - Data visualization',
  'value': '8 out of 10',
  'comment': 'skills in Power BI and Tableau, establishing him as an expert in the field'}]

In [136]:
import pandas as pd

In [137]:
df= pd.DataFrame(full_key_value)
df

,key,value,comment
0,First Name,Vijay,
1,Last Name,Kumar,
2,Date of Birth,"March 15, 1989",His birthdate is formatted as 1989-03-15 in IS...
3,Age,35 years old,as of 2024. his age serves as a key demographi...
4,Birth City,Jaipur,"Born and raised in the Pink City of India, his..."
5,Birth State,Rajasthan,"Born and raised in the Pink City of India, his..."
6,Blood Group,O+,noted for emergency contact purposes
7,Nationality,Indian,"As an Indian national, his citizenship status ..."
8,First Job Start Date,"July 1, 2012",when he joined his first company
9,First Job Role,Junior Developer,at his first company
10,First Job Salary,"350,000 INR",annual salary
11,Current Employer,Resse Analytics,
12,Current Role Start Date,"June 15, 2021",
13,Current Role,Senior Data Engineer,at Resse Analytics
14,Current Salary,"2,800,000 INR",annually
15,Previous Employer,LakeCorp,"Before this position, he worked at LakeCorp"
16,Current Employer,Resse Analytics,with his current role at Resse Analytics
17,Current Role,Senior Data Engineer,where he serves as a Senior Data Engineer
18,Start Date (Current Role),"June 15, 2021","beginning on June 15, 2021"
19,Current Salary,"2,800,000 INR","earning 2,800,000 INR annually. This salary pr..."
20,Previous Employer,LakeCorp Solutions,"Before this position, he worked at LakeCorp So..."
21,Employment Duration (Previous),"February 1, 2018, to 2021","from February 1, 2018, to 2021"
22,Previous Role,Data Analyst,starting as a Data Analyst and earning a promo...
23,Career Span,twelve-year,represents a substantial eight- fold increase ...
24,High School,"St. Xavier's School, Jaipur","His academic foundation is equally impressive,..."
25,High School Completion Year,2007,where he completed his 12th standard in 2007
26,High School Score,92.5%,achieving an outstanding 92.5% overall score i...
27,High School Subjects,"Mathematics, Physics, Chemistry, and Computer ...","His core subjects included Mathematics, Physic..."
28,Undergraduate Degree,B.Tech in Computer Science,He pursued his B.Tech in Computer Science
29,University,IIT Delhi,at the prestigious IIT Delhi
30,Graduation Year,2011,graduating with honors in 2011
31,B.Tech Degree,Computer Science,He pursued his B.Tech in Computer Science at t...
32,B.Tech University,IIT Delhi,prestigious IIT Delhi
33,B.Tech Graduation Year,2011,graduating with honors in 2011
34,B.Tech CGPA,8.7,on a 10-point scale
35,B.Tech Class Rank,15th,ranking 15th among 120 students in his class
36,M.Tech Degree,Data Science,His academic excellence continued at IIT Bomba...
37,M.Tech University,IIT Bombay,His academic excellence continued at IIT Bombay
38,M.Tech Graduation Year,2013,
39,M.Tech CGPA,9.2,achieving an exceptional CGPA of 9.2
40,M.Tech Thesis Score,95 out of 100,for his final year thesis project
41,Certification,AWS Solutions Architect,He passed the AWS Solutions Architect exam in ...
42,AWS Solutions Architect Score,920 out of 1000,exam in 2019
43,Certification,Azure Data Engineer,in 2020
44,Azure Data Engineer Score,875 points,certification in 2020
45,Certification,Project Management Professional,obtained in 2021
46,Project Management Professional Rating,Above Target,"achieved with an ""Above Target"" rating from PMI"
47,Certification,SAFe Agilist,
48,SAFe Agilist Score,98%,earned him an outstanding 98% score
49,Certification,PMI,"obtained in 2021, was achieved with an ""Above ..."
50,Certification,SAFe Agilist,earned him an outstanding 98% score
51,Technical Skill - SQL,10 out of 10,reflecting his daily usage since 2012
52,Technical Skill - Python,9 out of 10,backed by over seven years of practical experi...
53,Technical Skill - Machine Learning,8 out of 10,representing five years of hands-on implementa...
54,Technical Skill - Cloud platform expertise,9 out of 10,"including AWS and Azure certifications, with m..."
55,Technical Skill - Data visualization,8 out of 10,"skills in Power BI and Tableau, establishing h..."

In [138]:
df.columns

Index(['key', 'value', 'comment'], dtype='object')

In [140]:
df['comment']=df.comment.str.title()

In [141]:
df

,key,value,comment
0,First Name,Vijay,
1,Last Name,Kumar,
2,Date of Birth,"March 15, 1989",His Birthdate Is Formatted As 1989-03-15 In Is...
3,Age,35 years old,As Of 2024. His Age Serves As A Key Demographi...
4,Birth City,Jaipur,"Born And Raised In The Pink City Of India, His..."
5,Birth State,Rajasthan,"Born And Raised In The Pink City Of India, His..."
6,Blood Group,O+,Noted For Emergency Contact Purposes
7,Nationality,Indian,"As An Indian National, His Citizenship Status ..."
8,First Job Start Date,"July 1, 2012",When He Joined His First Company
9,First Job Role,Junior Developer,At His First Company
10,First Job Salary,"350,000 INR",Annual Salary
11,Current Employer,Resse Analytics,
12,Current Role Start Date,"June 15, 2021",
13,Current Role,Senior Data Engineer,At Resse Analytics
14,Current Salary,"2,800,000 INR",Annually
15,Previous Employer,LakeCorp,"Before This Position, He Worked At Lakecorp"
16,Current Employer,Resse Analytics,With His Current Role At Resse Analytics
17,Current Role,Senior Data Engineer,Where He Serves As A Senior Data Engineer
18,Start Date (Current Role),"June 15, 2021","Beginning On June 15, 2021"
19,Current Salary,"2,800,000 INR","Earning 2,800,000 Inr Annually. This Salary Pr..."
20,Previous Employer,LakeCorp Solutions,"Before This Position, He Worked At Lakecorp So..."
21,Employment Duration (Previous),"February 1, 2018, to 2021","From February 1, 2018, To 2021"
22,Previous Role,Data Analyst,Starting As A Data Analyst And Earning A Promo...
23,Career Span,twelve-year,Represents A Substantial Eight- Fold Increase ...
24,High School,"St. Xavier's School, Jaipur","His Academic Foundation Is Equally Impressive,..."
25,High School Completion Year,2007,Where He Completed His 12Th Standard In 2007
26,High School Score,92.5%,Achieving An Outstanding 92.5% Overall Score I...
27,High School Subjects,"Mathematics, Physics, Chemistry, and Computer ...","His Core Subjects Included Mathematics, Physic..."
28,Undergraduate Degree,B.Tech in Computer Science,He Pursued His B.Tech In Computer Science
29,University,IIT Delhi,At The Prestigious Iit Delhi
30,Graduation Year,2011,Graduating With Honors In 2011
31,B.Tech Degree,Computer Science,He Pursued His B.Tech In Computer Science At T...
32,B.Tech University,IIT Delhi,Prestigious Iit Delhi
33,B.Tech Graduation Year,2011,Graduating With Honors In 2011
34,B.Tech CGPA,8.7,On A 10-Point Scale
35,B.Tech Class Rank,15th,Ranking 15Th Among 120 Students In His Class
36,M.Tech Degree,Data Science,His Academic Excellence Continued At Iit Bomba...
37,M.Tech University,IIT Bombay,His Academic Excellence Continued At Iit Bombay
38,M.Tech Graduation Year,2013,
39,M.Tech CGPA,9.2,Achieving An Exceptional Cgpa Of 9.2
40,M.Tech Thesis Score,95 out of 100,For His Final Year Thesis Project
41,Certification,AWS Solutions Architect,He Passed The Aws Solutions Architect Exam In ...
42,AWS Solutions Architect Score,920 out of 1000,Exam In 2019
43,Certification,Azure Data Engineer,In 2020
44,Azure Data Engineer Score,875 points,Certification In 2020
45,Certification,Project Management Professional,Obtained In 2021
46,Project Management Professional Rating,Above Target,"Achieved With An ""Above Target"" Rating From Pmi"
47,Certification,SAFe Agilist,
48,SAFe Agilist Score,98%,Earned Him An Outstanding 98% Score
49,Certification,PMI,"Obtained In 2021, Was Achieved With An ""Above ..."
50,Certification,SAFe Agilist,Earned Him An Outstanding 98% Score
51,Technical Skill - SQL,10 out of 10,Reflecting His Daily Usage Since 2012
52,Technical Skill - Python,9 out of 10,Backed By Over Seven Years Of Practical Experi...
53,Technical Skill - Machine Learning,8 out of 10,Representing Five Years Of Hands-On Implementa...
54,Technical Skill - Cloud platform expertise,9 out of 10,"Including Aws And Azure Certifications, With M..."
55,Technical Skill - Data visualization,8 out of 10,"Skills In Power Bi And Tableau, Establishing H..."

In [143]:
df.to_excel("output.xlsx", index=False)